[submodule "moodle/mod/customcert"]
	path = moodle/mod/customcert
	url = https://github.com/markn86/moodle-mod_customcert.git
	branch = MOODLE_38_STABLE
[submodule "moodle/mod/attendance"]
	path = moodle/mod/attendance
	url = https://github.com/danmarsden/moodle-mod_attendance.git
	branch = main
