[submodule "moodle/mod/customcert"]
	path = moodle/mod/customcert
	url = https://github.com/markn86/moodle-mod_customcert.git
	branch = MOODLE_38_STABLE
[submodule "moodle/mod/attendance"]
	path = moodle/mod/attendance
	url = https://github.com/danmarsden/moodle-mod_attendance.git
	branch = main
[submodule "moodle/mod/bigbluebuttonbn"]
	path = moodle/mod/bigbluebuttonbn
	url = https://github.com/blindsidenetworks/moodle-mod_bigbluebuttonbn.git
	branch = v2.3-stable
[submodule "moodle/blocks/xp"]
	path = moodle/blocks/xp
	url = https://github.com/FMCorz/moodle-block_xp.git
	branch = master
[submodule "moodle/blocks/completion_progress"]
	path = moodle/blocks/completion_progress
	url = https://github.com/deraadt/moodle-block_completion_progress.git
	branch = master
[submodule "moodle/mod/choicegroup"]
	path = moodle/mod/choicegroup
	url = https://github.com/ndunand/moodle-mod_choicegroup.git
	branch = master
[submodule "moodle/lib/editor/atto/plugins/fullscreen"]
	path = moodle/lib/editor/atto/plugins/fullscreen
	url = https://github.com/dthies/moodle-atto_fullscreen.git
	branch = master
[submodule "moodle/mod/studentquiz"]
	path = moodle/mod/studentquiz
	url = https://github.com/frankkoch/moodle-mod_studentquiz.git
	branch = master
[submodule "moodle/report/benchmark"]
	path = moodle/report/benchmark
	url = https://github.com/mikasmart/moodle-report_benchmark.git
	branch = master
[submodule "moodle/theme/academi"]
	path = moodle/theme/academi
	url = https://github.com/ProjetoSophiaDev/academi.git
	branch = master
[submodule "moodle/theme/klass"]
	path = moodle/theme/klass
	url = https://github.com/ProjetoSophiaDev/klass.git
	branch = master
[submodule "moodle/admin/tool/migratehvp2h5p"]
	path = moodle/admin/tool/migratehvp2h5p
	url = https://github.com/moodlehq/moodle-tool_migratehvp2h5p.git
	branch = master
[submodule "moodle/mod/hvp"]
	path = moodle/mod/hvp
	url = https://github.com/h5p/h5p-moodle-plugin.git
	branch = stable
[submodule "moodle/mod/booking"]
	path = moodle/mod/booking
	url = https://github.com/dasistwas/moodle-mod_booking.git
	branch = master
[submodule "moodle/mod/checklist"]
	path = moodle/mod/checklist
	url = https://github.com/davosmith/moodle-checklist.git
	branch = master
[submodule "moodle/mod/scheduler"]
	path = moodle/mod/scheduler
	url = https://github.com/bostelm/moodle-mod_scheduler.git
	branch = master
[submodule "moodle/theme/eguru"]
	path = moodle/theme/eguru
	url = https://github.com/ProjetoSophiaDev/eguru.git
	branch = master
[submodule "moodle/mod/game"]
	path = moodle/mod/game
	url = https://github.com/bdaloukas/moodle-mod_game.git
	branch = MOODLE_20_STABLE
[submodule "moodle/local/sandbox"]
	path = moodle/local/sandbox
	url = https://github.com/moodleuulm/moodle-local_sandbox.git
	branch = master
[submodule "moodle/blocks/configurable_reports"]
	path = moodle/blocks/configurable_reports
	url = https://github.com/jleyva/moodle-block_configurablereports.git
	branch = MOODLE_36_STABLE
[submodule "moodle/blocks/dedication"]
	path = moodle/blocks/dedication
	url = https://bitbucket.org/ciceidev/moodle_block_dedication.git
	branch = MOODLE_30_STABLE
